Package: com.ultra.yallaludo.autoclicker
Name: Ultra Auto Clicker Pro
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Professional Auto Clicker for Yalla Ludo.
Maintainer: UltraDev
Author: UltraDev
Section: Tweaks
