Package: com.ultra.yallaludo.autoclicker
Name: Ultra Auto Clicker Pro
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Ultra Fast Auto Clicker for Yalla Ludo with Cyan GUI.
Maintainer: UltraDev
Author: UltraDev
Section: Tweaks
